<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Send_Data.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D46A28DC1D9FE5D800B1DFAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46A28F01D9FE5D800B1DFAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46A28FB1D9FE5D800B1DFAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
